body{
    font-family: Arial;
    font-size: 14px;
}

.container{
    position: relative;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    top: 200px;
}


#searchbar{
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border-style:solid;
    border-color:#e0dcdc;
    border-width: 1px;
    margin-top: 20px;
    outline: none;
    padding: 0 50px;
}

 #searchbar:hover{
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.527);
 }

#icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    min-width: 54px;
    width: auto;
    padding: 10px;
    margin: 0 8px;
    background-color: #f8f9fa;
    border-style: none;
    border-radius: 2px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:  #f8f9fa;
    outline: none;
}

.buttons:hover{
    border-color: #dfe1e2;
    box-shadow: 0px 1px 0.5px rgba(128, 128, 128, 0.267);
}

.buttons:focus{
    border-width: 1px;
    border-color: rgb(0, 102, 255);
}

#navbar{
    position: absolute;
    right: 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li{
    list-style: none;
    padding : 0 10px;
}

.links{
    text-decoration: none;
    color: #000;
}

.links:hover{
    text-decoration: underline;
}

footer{
    color:rgba(128, 128, 128, 0.719) !important;
    background-color:bisque;
    position: relative;
    bottom: 0;
}

#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: -13px;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -8px;
    padding: 8px 0;
}

footer ul li{
    color:rgba(128, 128, 128, 0.527) !important;
}

hr{
    background-color: rgb(223, 175, 117);
    border: none;
    height: 1px;
}




